{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}
{% block maincontent %}
    <h1>Consola de Gestão</h1>
{% endblock %}
