/vendor/
/xvolutionscms/cache/*
/xvolutionscms/logs/*
/nbproject/private/
/web/bundles
/build/
/xvolutionscms/config/parameters.yml
/src/*
/src/*/
!/src/Xvolutions/
!/src/.htaccess
/public_html/bundles