/vendor/
/xvolutionscms/cache/*
/xvolutionscms/logs/*
/nbproject/private/
/web/bundles
/build/
/xvolutionscms/config/parameters.yml
/public_html/bundles
/public_html/css
/public_html/js
/public_html/images