<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{name}}</title>
    </head>
    <body>
        A sua palavra-chave foi recuperada, {{name}}.
        <br><br>
        <strong>Palavra-chave</strong> {{password}}
    </body>
</html>
