/* 
    Created on : Apr 12, 2014, 10:42:34 AM
    Author     : Pedro Resende <pedroresende@mail.resende.biz>
*/

.navbar-bottom {
    position: absolute; 
    bottom: 0px; 
    width: 100%; 
    margin-bottom: 0px !important;
}

.container-footer {
    padding-top: 15px;
}

.navbar {
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.3);
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}