/* 
    Created on : Jun 8, 2014, 10:13:53 AM
    Author     : Pedro Resende <pedroresende@mail.resende.biz>
*/
/* line 5, /Users/pedroresende/Sites/AdminBundle/src/Xvolutions/AdminBundle/Resources/public/less/login.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedroresende\/Sites\/AdminBundle\/src\/Xvolutions\/AdminBundle\/Resources\/public\/less\/login\.less}line{font-family:\000035}}
html,
body {
  background-color: #eee !important;
  background: url('../images/login_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 14, /Users/pedroresende/Sites/AdminBundle/src/Xvolutions/AdminBundle/Resources/public/less/login.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedroresende\/Sites\/AdminBundle\/src\/Xvolutions\/AdminBundle\/Resources\/public\/less\/login\.less}line{font-family:\0000314}}
.top-20 {
  margin-top: 20%;
}
/* line 18, /Users/pedroresende/Sites/AdminBundle/src/Xvolutions/AdminBundle/Resources/public/less/login.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedroresende\/Sites\/AdminBundle\/src\/Xvolutions\/AdminBundle\/Resources\/public\/less\/login\.less}line{font-family:\0000318}}
.login-form {
  background-color: #ffffff;
  margin-left: auto;
  width: 100%;
  padding: 20px;
  margin: auto;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
/* line 31, /Users/pedroresende/Sites/AdminBundle/src/Xvolutions/AdminBundle/Resources/public/less/login.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/pedroresende\/Sites\/AdminBundle\/src\/Xvolutions\/AdminBundle\/Resources\/public\/less\/login\.less}line{font-family:\0000331}}
.login-form h2 {
  text-align: center;
}
