    {% extends "ClevertiCTILoginBundle::template.html.twig" %}

{% block content %}
    <div class="content-center">
        <h2>Login</h2>


        <form method="post" action="{{ url('cleverti_cti_login_homepage') }}" name="login" id="loginForm" class="form-horizontal">
            <div class="control-group" style="margin-bottom: 9px;">
                <label class="control-label" for="id1"><i class="icon-user"></i> Username</label>
                <div class="controls">
                    <input value="" size="10" name="Login" id="id1" placeholder="Username" type="text">
                </div>
            </div>
            <div class="control-group" style="margin-bottom: 9px;">
                <label class="control-label" for="id2"><i class="icon-lock"></i> Password</label>
                <div class="controls">
                    <input size="10" name="Password" id="id2" placeholder="Password" type="password">
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox"><input name="Cookie" id="id3" type="checkbox">Stay signed in</label>
                    <button type="submit" name="LoginButton" class="btn" style="margin-top: 25px;"><i class="icon-signin"></i> Login</button>
                </div>
            </div>

            <input name="RedirectURI" value="" type="hidden">

            <div class="control-group" style="margin-top:40px">
                <div class="controls">
                    <a href="{{ url('cleverti_cti_login_recover') }}">Forgot your password?</a>
                </div>
            </div>

        </form>


        <script type="text/javascript">
            $(document).ready(function() {
                $("#id1").focus();
            });
        </script>
    </div>
{% endblock %}