<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="lang="en-GB"><![endif]-->
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Cleverti CTI-SRV7-ACS-VM</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="Shortcut icon" href="http://intra.cleverti/extension/clti_intranet/design/clti_intranet/images/favicon.ico" type="image/x-icon">

        {% stylesheets 
            '@ClevertiCTILoginBundle/Resources/public/css/css.css'
            '@ClevertiCTILoginBundle/Resources/public/css/802d785ddb42ce4d12cf76900c553b40_all.css'
        %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
        {% endstylesheets %}

    </head>
    <body>
        <div class="wrapper">
            <div class="bordertop"></div>

            <div class="container" role="main">
                <header class="row-fluid">
                    <a href="http://intra.cleverti/">
                        {% image '@ClevertiCTILoginBundle/Resources/public/images/cleverti_logo.png' %}
                            <img src="{{ asset_url }}" title="cleverti CTI-SRV7-ACS-VM" alt="cleverti CTI-SRV7-ACS-VM" style="float:left"/>
                        {% endimage %}
                    </a>
                    <h1>cleverti <em>CTI-SRV7-ACS-VM</em></h1>
                </header>
                <div id="main-content" class="row-fluid">
                    {% block content %}{% endblock %}
                </div>

                <script type="text/javascript">
                    $("#loginForm").submit(function(e) {
                        if ($("#id1").val().indexOf("@") == -1) {
                            alert("Please use a valid email address");
                            e.preventDefault();
                        }
                    });
                </script>
            </div>
        </div>
                
        <div class="container">
            <footer id="main-footer" class="row-fluid">
                <div class="span6" style="float:left">
                    <p class="hidden-phone">
                        {% image '@ClevertiCTILoginBundle/Resources/public/images/phone_small.png' %}
                            <img rel="shortcut icon" src="{{ asset_url }}"/>
                        {% endimage %}
                        Mobile &amp; Tablet Ready
                    </p>
                </div>
                <div class="span6">
                    <p>© cleverti 2014</p>
                </div>
            </footer>
        </div>

        {% javascripts 
            '@ClevertiCTILoginBundle/Resources/public/js/ac4a5b4bd2f1245ca86c631313d42458.js' 
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    </body>
</html>