/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2014, 10:12:36 AM
    Author     : Pedro Resende <pedroresende@mail.resende.biz>
*/

.navbar-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-bottom: 0px !important;
}

.container-footer {
    padding-top: 15px;
}

.navbar {
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.3);
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

th, tr td {
    text-align: center;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-bottom: 20px !important;
}