{% extends "XvolutionsAdminBundle:template:template.html.twig" %}

{% block title %}Backoffice{% endblock %}

{% block styles %}
    {% stylesheets 
        'bundles/xvolutionsadmin/css/backoffice.css' filter="yui_css"
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block menu %}
        <div class="container-fluid">
            <div class="content">
                <div class="row">
                    <div id="header">
                        {% include 'XvolutionsAdminBundle:template:menu.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block content %}
    <div class="col-md-1 col-sm-1"></div>
    <div id="main" class="col-md-10 col-sm-10 col-xs-12">
        {% block maincontent %}{% endblock %}
    </div>
    <div class="col-md-1 col-sm-1"></div>
    <div class="push"></div>
    <div id="footer">
        <nav class="navbar navbar-default navbar-bottom" role="navigation">
            <div class="container-fluid container-footer">
                <div class="version"><span class="glyphicon glyphicon-copyright-mark"></span> {{version}}</div>
            </div>
        </nav>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: true,
            height: 300,
            toolbar: "undo redo | styleselect | bold italic underline hr | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | code fullscreen",
            autosave_ask_before_unload: false,
            plugins: ['link image code fullscreen table image'],
            image_list: "/admin/files/imagelist"
        });
    </script>
{% endblock %}