{% extends "XvolutionsAdminBundle:template:template.html.twig" %}

{% block title %}Backoffice{% endblock %}

{% block styles %}
    {% stylesheets 
        'bundles/xvolutionsadmin/css/backoffice.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    {% include 'XvolutionsAdminBundle:template:menu.html.twig' %}

    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10 col-xs-12">
    {% block maincontent %}{% endblock %}
</div>
<div class="col-md-1 col-sm-1"></div>

<nav class="navbar navbar-default navbar-bottom" role="navigation">
    <div class="container-fluid container-footer">
        <div class="version"><span class="glyphicon glyphicon-copyright-mark"></span> {{version}}</div>
    </div>
</nav>
{% endblock %}
{% block javascripts %}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: false,
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image",
            autosave_ask_before_unload: false,
            plugins: 'link image'
        });
    </script>
{% endblock %}