{% extends "XvolutionsAdminBundle:template:backoffice.html.twig" %}

{% block title %}Setup - Backoffice{% endblock %}

{% block username %}{{ username }}{% endblock %}

{% block maincontent %}
    <h1>Setup</h1>
{% endblock %}